<!-- header.html -->
<header>
  <nav>
      <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="document-request.html">Document Request</a></li>
          <li><a href="business-permit.html">Business Permit Application</a></li>
          <li><a href="tourist-info.html">Tourist Info</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="login.html">Login/Register</a></li>
      </ul>
  </nav>
</header>
